.btn-carousel-btn {
    max-width: 40px;
}

.inactiveBtn {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.activeDay {
  color: #FFF;
  background-color: #43D39E;
  border-color: #43D39E;
}
